
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="generator" content="">

<link rel="shortcut icon" href="~/templete/images/logo.ico" />
@*<title>@Resource.appName</title>*@
<meta name="description" content="Deliciosos pasteles y variedades de dulces toda cualquier ocasión"/>
<meta name="keywords" content="punto, dulce, may, pasteles, tortas, batidos, desayunos, sorpresa,  postres, alquiler, maquetas, rico, delicioso, tienda, negocio, Yelly"/>
@*<meta name="author" content="Andres Montoya" />*@
@*<META NAME="reply-to" CONTENT="andres_99montoy@hotmail.com">*@
@*<LINK REV="made" href="mailto:andres_99montoy@hotmail.com">*@
@*<meta name="copyright" content="Propietario del copyright" />*@
 <meta name="robots" content="index,follow"/>

@*<environment exclude="Development">
	 <meta http-equiv="cache-control" content="cache"/>
	 <meta http-equiv="expires" content="604800"/> 7 Días
 </environment>*@

<link href="~/templete/css/bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
<link href="~/templete/css/style.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700" rel="stylesheet">
</head>
<body>

    @RenderBody()

<!-- CALL TO ACTION =============================-->
@*<section class="content-block" style="background-color:#E91E63;">
<div class="container text-center">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="item" data-scrollreveal="enter top over 0.4s after 0.1s">
				<h1 class="callactiontitle"> Promote Items Area Give Discount to Buyers <span class="callactionbutton"><i class="fa fa-gift"></i> WOW24TH</span>
				</h1>
			</div>
		</div>
	</div>
</div>
</section>*@

<!-- FOOTER =============================-->

<div class="footer text-center">
	<div class="container">
		<div class="row">
			<p class="footernote">
				 <img src="~/templete/images/logo.png" width="50px" height="50px" /> @ResourceConfig.Resources.Menu.First().Title1
			</p>
			<ul class="social-iconsfooter">
				@*<li><a href="#"><i class="fa fa-phone"></i></a></li>*@
				<li><a href="https://api.whatsapp.com/send?phone=573206181878&text=Buen%20d%C3%ADa.%20Quisiera%20obtener%20m%C3%A1s%20informaci%C3%B3n%20acerca%20de" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
				<li><a href="https://www.instagram.com/punto_dulce_may/" target="_blank"><i class="fa fa-instagram"></i></a></li>
				<li><a href="https://www.facebook.com/puntodulce.may/" target="_blank"><i class="fa fa-facebook"></i></a></li>
				@*<li><a href="#"><i class="fa fa-pinterest"></i></a></li>*@
			</ul>
			<p>				
				@*Scorilo - Free template by <a href="https://www.wowthemes.net/">WowThemesNet</a>*@
				Teléfonos: <strong>320 618 1878</strong> - <strong>315 283 0383</strong> - <strong>488 6873</strong> <br/>
				Dirección: <strong>Cra 41 H # 44 52</strong> - 
				Mapa: <a target="_blank" href="@("https://www.google.com/maps/place/Cra.+41h+%2344-52,+Cali,+Valle+del+Cauca/@3.4085472,-76.508413,3a,75y,229.62h,90.1t/data=!3m6!1e1!3m4!1sfhiAPcWRp_JY14-N2uXEhg!2e0!7i13312!8i6656!4m5!3m4!1s0x8e30a6d3fecd0603:0x8d4337277d6f879c!8m2!3d3.4085504!4d-76.5086003?hl=es")"> Sede Principal </a>  <br/>
				@*&copy;*@ <script> document.write(new Date().getFullYear()); </script> <strong> @Resource.appName </strong>
			</p>
		</div>
	</div>
</div>

<!-- SCRIPTS =============================-->
<script src="~/templete/js/jquery-.js"></script>
<script src="~/templete/js/bootstrap.min.js"></script>
<script src="~/templete/js/anim.js"></script>

	<script>
	//----HOVER CAPTION---//	  
	jQuery(document).ready(function ($) {
		$('.fadeshop').hover(
			function(){
				$(this).find('.captionshop').fadeIn(150);
			},
			function(){
				$(this).find('.captionshop').fadeOut(150);
			}
		);
	});
	</script>

</body>
</html>