@page "/Card-Gallery"

@model Pasteleria.Pages.Compoments.Card_GalleryModel
@using Pasteleria.Models

@{
	var url = Url.ActionLink();
	Resource rs = ResourceConfig.Resources;
	Card_Gallery gallery = rs.Gallery.Select(x=>x.Card_Gallery).First(x => x.ID == ResourceConfig.Resources.ComponentId);
	Item_Gallery ga = new();

	string id = Guid.NewGuid().ToString();
}


<section class="item content">
	<div class="container" style="width:auto;">
		<div class="underlined-title">
			<div class="wow-hr type_short">
				<span class="wow-hr-h">
				<i class="fa fa-star" style="color: #FF4081;"></i>
				<i class="fa fa-star" style="color: #FF4081;"></i>
				<i class="fa fa-star" style="color: #FF4081;"></i>
				</span>
			</div>
			<div class="editContent">
				<h1 class="text-center latestitems" style="font-size: 28px;">@gallery.Title</h1>
			</div>
			<div class="wow-hr type_short">
				<span class="wow-hr-h">
				<i class="fa fa-star" style="color: #FF4081;"></i>
				<i class="fa fa-star" style="color: #FF4081;"></i>
				<i class="fa fa-star" style="color: #FF4081;"></i>
				</span>
			</div>
		</div>
		@*<div class="row">*@
		
		<div id="Carousel@(id)" class="carousel slide" data-ride="carousel">
			

		<div class="carousel-inner">

		@{ int index = 0; }

		@for(int i = 0; i < gallery.Items.Count() && index < gallery.Items.Count() ; i+=2){
				

			<div class="item @(index==0 ? "active" : "")">
			<div class="container">
			<div class="row justify-content-center">

			@for(int j = 0 ; j < gallery.CardByRow ; j++){

				@if(index < gallery.Items.Count()){

					<div style="display: none;">
					@( ga = gallery.Items[index] )
					</div>

					<div class="col-md-1"></div>
						
					<!-- /.productbox -->
					<div class="col-md-4">
						<div class="productbox">
							<div class="fadeshop">
								<div class="captionshop text-center" style="display: none;">
									<h3>@ga.InnerTitle</h3>
									<p>
											@ga.Description
									</p>
									@*<p>
										@if(!string.IsNullOrWhiteSpace(ga.ButtonUrl) && !string.IsNullOrWhiteSpace(ga.ButtonIcon) && !string.IsNullOrWhiteSpace(ga.ButtonText)){
											<a href="@ga.ButtonUrl" class="learn-more detailslearn"><i class="@ga.ButtonIcon"></i> @ga.ButtonText</a>
										}
									</p>*@
								</div>
								<span class="maxproduct"><img src="@ga.Image.Url" alt=""></span>
							</div>
							<div class="product-details">
								<h1>@ga.Title</h1>
								@*<span class="price">
								<span class="edd_price">@( (ga.Price > 0) ? "$ " + ga.Price : "")</span>
								</span>*@
							</div>
						</div>
					</div>

					<div class="col-md-1"></div>

				}

				index++;
					
			}
			</div>
			</div>
			</div>

                
		}

		</div>

		@if (gallery.Carousel == 1)
		{
			<!-- Left and right controls -->
			<a class="left carousel-control" href="#Carousel@(id)" data-slide="prev" style="width: 70px;">
			<span class="glyphicon glyphicon-chevron-left"></span>
			<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#Carousel@(id)" data-slide="next" style="width: 70px;">
			<span class="glyphicon glyphicon-chevron-right"></span>
			<span class="sr-only text-dark">Next</span>
			</a>
		}

			

		</div>

		@*</div>*@
	</div>
</section>